<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Figur #{{move.index}}: Kommentare für {{move.name}}</h4>
      </div>
      <div class="row modal-body">
        <form role="form" class="col-xs-8">
          <div class="form-group">
            <label for="newComment">Neuer Kommentar</label>
            <input id="newComment" class="form-control" type="text" ng-model="newComment" placeholder="Neuer Kommentar" >
          </div>
        </form>
        <div class="col-xs-4">
          <a class="btn btn-default" ng-click="addCommentToFigure(move, newComment); newComment = ''">Zu Figur hinzufügen</a>
          <a class="btn btn-default" ng-click="addCommentToPart(move, newComment); newComment = ''">Zu Stelle hinzufügen</a>
        </div>
        <div class="col-xs-12">
          <h3>Anmerkungen für diese Stelle</h3>
          <ul class="row">
            <li ng-repeat="note in notes | forId:move.$$hashKey">
              {{note.content}}
            </li>
          </ul>
        </div>
        <div class="col-xs-12">
          <h3>Anmerkungen für diese Figur</h3>
          <ul class="row">
            <li ng-repeat="note in notes | forId:move.moveHash">
              {{note.content}}
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Schließen</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
