<div ng-controller="MainCtrl">
  <h1>Baue deine Choreographie</h1>
  <div class="row">
    <div class="col-xs-8">
      <h2>Choreographie</h2>
      <ul class="js-sortable">
        <li ng-repeat="move in chosenMoves">
          {{move.name}} <a class="glyphicon glyphicon-remove" ng-click="removeChosenMove(move)"></a>
        </li>
      </ul>
    </div>
    <div class="col-xs-4">
      <h2>Figuren</h2>
      <form role="form" ng-submit="addMove()">
        <div class="form-group">
          <label for="newMove">Neue Figur</label>
          <input id="newMove" class="form-control" type="text" ng-model="newMove" placeholder="Neue Figur hinzufügen" >
        </div>
      </form>

      <ul class="silent-list">
        <li ng-repeat="move in availableMoves" class="row">
          <a class="col-xs-2 glyphicon glyphicon-plus" ng-click="addChosenMove(move)"></a>
          <span class="col-xs-8 btn btn-default">{{move.name}}</span>
          <a class="col-xs-2 glyphicon glyphicon-remove text-right" ng-click="removeMove(move)"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
